In [5]:
list1=["a",2,3]
print(list1)

['a', 2, 3]

In [2]:
list1=[i for i in range (10)]  #1D list
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list2=[[1,2,3] for i in range (10)] #2d list
print(list2)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [6]:
list3=[[j for j in range (5)] for i in range (5)]
print(list3)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [9]:
list4=[[j+1 for j in range(5)] for i in range(5)]
print(list4)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [14]:
list5=[[3*i+j for j in range (3)] for i  in range (3)]
print(list5)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [21]:
R=int(input("Enter the no. of rows:"))
C=int(input("Enter the no. of column:"))

list6=[int(x) for x in input().split()]
print("list in 1D",list6)

a=[]

for i in range (R):
   a.append([])
   for j in range(C):
    a[i].append(list6[C*i+j])

print("list in 2D", a)

Enter the no. of rows:2
Enter the no. of column:2
1 2 3 4
list in 1D [1, 2, 3, 4]
list in 2D [[1, 2], [3, 4]]

In [4]:
#zigzag_column_order
list1=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
print("array",list)
rows=len(list1)
cols=len(list1[0])
print(rows,cols)

for j in range (cols):
  if j%2==0:
    for i in range(rows):
      print(list1[i][j])
  else:
    i=rows-1
    while(i>=0):
      print(list1[i][j])
      i=i-1

array <class 'list'>
4 3
1
4
7
10
11
8
5
2
3
6
9
12